<html>
<head>
<title>Practical 4</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app ng-init="checked=true" >
    Click Me: <input type="checkbox" ng-model="checked" /> <br />
    <div>
        New: <input ng-if="checked" type="text" /><br>
    </div> <br>
</div>
    </div>
    <div>
        Read-only: <input ng-readonly="checked" type="text" value="This is read-only." /> 
    <div> <br>
    </div>
        Disabled: <input ng-disabled="checked" type="text" value="This is disabled." /><br>
    </div> <br>
</div>
    </div>
</body>
<html>

